* {
  box-sizing: border-box;
}

body {
  margin: 0 0 0 10px;
  padding: 0;
}

.parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bookListStyle {
  position: relative;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.list-container {
  position: relative;
}

#titleInput {
  width: fit-content;
  margin-bottom: 10px;
}

#authorInput {
  width: fit-content;
  margin-bottom: 10px;
}

.add {
  width: fit-content;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12vh;
  border-bottom: 1px solid black ;
  padding-bottom: 15px;
  padding-top: 10px;
}

.removeButtonStyle {
  width: fit-content;
}